<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SeMSys.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SeMSys.My.MySettings>
            <setting name="UsuarioWinthor" serializeAs="String">
                <value />
            </setting>
            <setting name="NomeWinthor" serializeAs="String">
                <value />
            </setting>
            <setting name="CodFilialEstoque" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CodFilialProducao" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Cor_Linha01" serializeAs="String">
                <value />
            </setting>
            <setting name="Cor_Linha02" serializeAs="String">
                <value />
            </setting>
            <setting name="Cor_Linha03" serializeAs="String">
                <value />
            </setting>
            <setting name="Cor_Linha04" serializeAs="String">
                <value />
            </setting>
            <setting name="Cor_Linha05" serializeAs="String">
                <value />
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CurrentVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="PermissaoUsuario" serializeAs="String">
                <value />
            </setting>
            <setting name="confEspecieSelecionada" serializeAs="String">
                <value />
            </setting>
        </SeMSys.My.MySettings>
    </userSettings>
</configuration>
